---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>About Me</h1>
  <p>About me page content coming soon. </p>
  <p>For now, please reference my linkedin.com page: www.linkedin.com/in/rsapping

</p>
</BaseLayout>